<form action="/<%= @file_name %>" method="post">
  <label for="content" >Edit content of <%= @file_name %>:</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
